<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <!--      <linhttp://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.cssk rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="style.css"/>-->
    <link rel="stylesheet" href="Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h2><a href="Home">DYNAMIC BANK</a></h2>
    <nav>

        <li><a href="Home">Home</a></li>
        <li><a href="#">Update Details</a></li>
        <li><a href="fundTransfer">Fund Transfer</a></li>
        <li><a href="Home">Logout</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="centerr">
        <h1>Customer Details</h1>
        <form method="post" action="/afterlogin">
            <table cellpadding="3" align="left">
            <tr>
                <td><h4>Name</h4> <td><h4> : </h4></td> <td><h4><span th:text=" ${customerName}"/></h4></td>
            </tr>
            <tr>
                <td><h4>Username</h4></td> <td><h4> : </h4></td> <td><h4><span th:text=" ${userName}"/></h4></td>
            </tr>
            <tr>
                <td><h4>Phone Number</h4></td> <td><h4> : </h4></td> <td> <h4><span th:text=" ${Contact}"/></h4></td>
            </tr>
            <tr>
                <td><h4>Email</h4></td> <td><h4> : </h4></td> <td><h4><span th:text=" ${Email}"/></h4></td>
            </tr>
            <tr>
                <td><h4>Address</h4></td> <td><h4> : </h4></td> <td><h4><span th:text=" ${Address}"/></h4></td>
            </tr>
            </table>
            <br><br>
            <div class="signup_link">
                Want to Update? <a th:href="@{/updateCustomer/{id} (id=${userName})}">Update</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>
