<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fund Transfer</title>
    <link rel="stylesheet" href="Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h2><a href="Home">DYNAMIC BANK</a></h2>
    <nav>

        <li><a href="/">Home</a></li>
        <li><a href="/">Logout</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="centerr">
        <h1>Fund Transfer</h1>
        <form method="post" action="/fundTranfer">
            <div class="txt_field1">
                <input type="text" name="fromAccount" required>
                <span></span>
                <label>From Account</label>
            </div>
            <div class="txt_field1">
                <input type="text" name="toAccount" required>
                <span></span>
                <label>To Account</label>
            </div>
            <div class="txt_field1">
                <input type="text" name="amount" required>
                <span></span>
                <label>Amount</label>
            </div>
             <input type="submit" value="Transfer">
        </form>
    </div>
</section>
</body>
</html>