<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC Bank</title>
    <!--      <linhttp://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.cssk rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <!--    <link rel="stylesheet" href="style.css"/>-->
    <link rel="stylesheet" href="/Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h2><a href="/">ABC BANK</a></h2>
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/accountDetails">Account Details</a></li>
            <li><a href="/userDetails">View Details</a></li>
            <li><a href="/deposit">Deposit</a></li>
            <li><a href="/transfer">Transfer</a></li>
            <li><a href="login">Logout</a></li>
        </nav>
    </header>
    <section class="banner-area">
        <div class="banner-img"></div>
        <h1>ABC Bank</h1>
        <h3>Small steps to a better future</h3>
    </section>
</body>
</html>
