<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ABC Bank</title>
<!--      <linhttp://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.cssk rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="style.css"/>-->
    <link rel="stylesheet" href="/Home.css"/>
   <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h2><a href="/">ABC BANK</a></h2>
        <nav>

            <li><a href="/">Home</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="login">Login</a></li>

        </nav>
    </header>
    <section class="banner-area">
        <div class="banner-img"></div>
        <h1>ABC Bank</h1>
        <h3>Small steps to a better future</h3>
        <a href="#contact" class="banner-btn">Contact Us</a>
    </section>

    <section class="about-area" id="about">
        <h3 class="section-title">About Us</h3>
        <ul class="about-content">
            <li class="about-left"></li>
            <li class="about-right">
                <h2>About our Bank</h2>
                <p>A bank is a financial institution that accepts deposits from the public and creates a demand deposit while simultaneously making loans. The word bank was taken into Middle English from Middle French banque, from Old Italian banca, meaning "table", from Old High German banc, bank "bench, counter".
                    Benches were used as makeshift desks or exchange counters during the Renaissance by Florentine bankers, who used to make their transactions atop desks covered by green tablecloths.</p>
                <a href="" class="about-btn">Learn more</a>
            </li>
        </ul>
    </section>
    <section class="services-area" id="services">
        <h3 class="section-title">Services</h3>
        <ul class="services-content">
            <li>
                <i class="fas fa-piggy-bank"></i>
                <h4>Fund Transfer</a></h4>
                <p>A transfer payment is a redistribution of income and wealth by means of the government making a payment, without goods or services being received in return.</p>
            </li>
            <li>
                <i class="fas fa-money-check"></i>
                <h4>View Account</a></h4>
                <p>A bank account is a financial account maintained by a bank or other financial institution in which the financial transactions between the bank and a customer are recorded.</p>
            </li>
        </ul>
    </section>

    <section class="contact-area" id="contact">
        <h3 class="section-title">Contact</h3>
        <ul class="contact-content">
            <li>
                <i class="fas fa-map-marker"></i>
                <p>19 Shivnandan Society,<br> Pune, Maharashtra,<br> India</p>
            </li>
            <li>
                <i class="fas fa-phone"></i>
                <p>+91 92341 57683 <br> +91 72987 83413</p>
            </li>
            <li>
                <i class="fas fa-envelope"></i>
                <p>info@dyanamicbank.com <br>dynamicbank@website.com</p>
            </li>
        </ul>
    </section>

    <footer>
        <p>Copyright © ABC bank. All rights reserve</p>
    </footer>
</body>
</html>
