<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fund Transfer</title>
    <link rel="stylesheet" href="/Home.css"/>
    <script src="https://kit.fontawesome.com/e3fa0230bd.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <h2><a href="Home">ABC BANK</a></h2>
    <nav>

        <li><a href="/home">Home</a></li>
        <li><a href="/accountDetails">Account Details</a></li>
        <li><a href="/userDetails">View Details</a></li>
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/">Logout</a></li>
    </nav>
</header>
<section class="banner-area">
    <div class="banner-img"></div>
    <div class="centerr">
        <h1>Fund Transfer</h1>
        <div th:text="${successMessage}"/>
        <form action="/transfer" method="post">
            <div class="txt_field">
                <input name="transferAmount" id="transferAmount">
                <span></span>
                <label>Enter Amount</label>
            </div>
            <div class="txt_field">
                <input name="toAccount" id="toAccount">
                <span></span>
                <label>To Account</label>
            </div>
            <input type="submit" value="Transfer">
        </form>
    </div>
</section>
</body>
</html>