<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookMyTicket</title>
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/BookMyTicket-logos.jpeg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="./Style.css" />
    <link rel="stylesheet" href="./mobile-style.css">
</head>
<body>
    <header>
    <!--    navigation -->
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/">BookMyTicket</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/movies">Movies<span class="sr-only">(current)</span></a>
                        </li>
                            <li th:unless="${username}" class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        <li th:unless="${username}" class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        <li th:if="${username}" class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <h6>BOOK MY TICKET</h6>
                    <h1>Book Your Ticket Today!</h1>
                    <p>A movie, or a film, is a type of visual communication scenario which uses
                        moving pictures and sound to tell stories or teach people something.</p>
                    <button class="btn btn-light px-5 py">Buy Your Ticket</button>
                </div>
                <div class="col-md-5 col-sm-12 h-25">
                    <img src="../images/Ticket-PNG-Photo.png" alt="TICKET">
                </div>
            </div>
        </div>
    </header>
    <main>
       <section class="section-1">
           <div class="container text-center">
               <div class="row">
                   <div class="col-md-6">
                       <div class="pray">
                           <img src="../images/photo-1559570278-eb8d71d06403.jpg" alt="Pray">
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="panel text-left">
                           <h1>Cinema</h1>
                           <p class="pt-4">
                               The cinema of India comprises films produced in India, where more than 1800 movies are produced annually.
                               Major centres of film production in the country include Mumbai, Chennai, Hyderabad, Kolkata, New Delhi, Amritsar, Thiruvananthapuram-Kochi, Bangalore, Bhubaneshwar-Cuttack, and Guwahati.
                               As of 2018, India ranked first in terms of annual film output.
                           </p>
                           In 2015, India had a total box office gross of US$2.1 billion, the third largest in the world.
                           The overall revenue of Indian cinema reached US$2.7 billion in 2019.
                           Major Indian enterprises in the film industry include AVM Productions, Sun Pictures, AGS Entertainment, Geetha Arts, Zee, Mythri Movie Makers, UTV, Suresh Productions, Eros International, Aascar Films and Yash Raj Films.
                       </div>
                   </div>
               </div>
           </div>
       </section>

        <section class="section-2 container-fluid p-0">
            <div class="cover">
                <div class="content text-center">
                    <h1>Some Feature That Made Us Unique</h1>
                </div>
            </div>
            <div class="container fluid text-center">
                <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
                    <div class="rect">
                        <h1>2345</h1>
                        <p>Happy Users</p>
                    </div>
                    <div class="rect">
                        <h1>6784</h1>
                        <p>Tickets </p>
                    </div>
                    <div class="rect">
                        <h1>1000</h1>
                        <p>Movies</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-3 container-fluid p-0 text-center">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>Download Our Applications For all Platforms</h1>
                </div>
            </div>
            <div class="platform row">
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="desktop shadow-lg">
                        <div class="d-flex flex-row justify-content-center">
                            <i class="fas fa-desktop fa-3x py-2 pr-3"></i>
                            <div class="text text-left">
                                <h3 class="pt-1 m-0">Desktop</h3>
                                <p class="p-0 m-0">On website</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 text-left">
                    <div class="desktop shadow-lg">
                        <div class="d-flex flex-row justify-content-center">
                            <i class="fas fa-mobile-alt fa-3x py-2 pr-3"></i>
                            <div class="text text-left">
                                <h3 class="pt-1 m-0">On Mobile</h3>
                                <p class="p-0 m-0">On Play Store</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
    <!-- copyright section   -->
        <div class="container-fluid p-0">
            <div class="row text-left">
                <div class="col-md-5 col-md-5">
                    <h1 class="text-light">About Us</h1>
                    <p class="text-muted">
                        We provide you the way to book your movie ticket fast and in efficient way.
                    </p>
                    <p class="pt-4 text-muted">
                        Copyright @2022 All rights reserved by
                        <span>BookMyTicket</span>
                    </p>
                </div>
                <div class="col-md-5">
                    <h4 class="text-light">Newsletter</h4>
                    <p class="text-muted">Stay Updated</p>
                    <form class="form-inline">
                        <div class="col pl-0">
                            <div class="input-group pr-5">
                                <input type="text" class="form-control bg-dark text-white" placeholder="Email">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Follow Us</h4>
                    <p class="text-muted">Let us be social</p>
                    <div class="column text-light">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="./main.js"></script>
</body>
</html>